# M04 Assignment: Modules and Databases
## Firisiya Chiomadzi
## 04/20/2024

11.1 Creating the zoo.py file and defining the function:

In [1]:
%%writefile zoo.py
def hours():
    print('Open 9-5 daily')

Writing zoo.py

Using the interactive interpreter to import the zoo module and call its hours() function:

In [2]:
# Using the interactive interpreter
import zoo

# Calling the hours() function from zoo module
zoo.hours()

Open 9-5 daily

11.2 Importing the zoo module as menagerie and calling its hours() function:

In [3]:
# Using the interactive interpreter
import zoo as menagerie

# Calling the hours() function from menagerie module (which is zoo module)
menagerie.hours()

Open 9-5 daily

**Exercise 16.8 Version 1**

16.4: Creating SQLite Database and Table

In [2]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Define SQL command to create the table
create_table_query = '''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
'''

# Execute SQL command to create the table
cursor.execute(create_table_query)

# Commit changes and close connection
conn.commit()
conn.close()

16.6: Selecting and Printing Title Column in Alphabetical Order

In [3]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('books.db')

# Create a cursor object
cursor = conn.cursor()

# Define SQL query to select title column in alphabetical order
select_query = '''
SELECT title
FROM books
ORDER BY title
'''

# Execute query and fetch results
cursor.execute(select_query)
results = cursor.fetchall()

# Print results
for row in results:
    print(row[0])

# Close connection
conn.close()

16.8: Using SQLAlchemy to Connect to Database and Selecting Title Column

In [6]:
# Install SQLAlchemy
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\wellington\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\wellington\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\wellington\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [7]:
# import sqlalchemy
import sqlalchemy

In [8]:
#Importing the required moles
from sqlalchemy import create_engine, select, Column, Integer, String, MetaData, Table

In [9]:
# Defining the database connection
engine = create_engine('sqlite:///C:/Users/WELLINGTON/SDEV220/books.db', echo=True)

In [10]:
# Defining the metadata and creating a table
metadata = MetaData()

# Defining the table
books_table = Table(
    'books',
    metadata,
    Column('title', String),
    Column('author', String),
    Column('year', Integer)  # Adding the 'year' column
)

# Creating the table if it doesn't exist
metadata.create_all(engine)

2024-04-25 12:51:51,410 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-25 12:51:51,412 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("books")
2024-04-25 12:51:51,415 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-25 12:51:51,418 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
# Start a session
with engine.connect() as conn:
    # Insert data into the table
    conn.execute(books_table.insert(), [
        {'title': 'Book 1', 'author': 'Author 1'},
        {'title': 'Book 2', 'author': 'Author 2'},
        {'title': 'Book 3', 'author': 'Author 3'}
    ])

2024-04-25 12:52:11,548 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-25 12:52:11,550 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author) VALUES (?, ?)
2024-04-25 12:52:11,553 INFO sqlalchemy.engine.Engine [generated in 0.00456s] [('Book 1', 'Author 1'), ('Book 2', 'Author 2'), ('Book 3', 'Author 3')]
2024-04-25 12:52:11,558 INFO sqlalchemy.engine.Engine ROLLBACK

**16.8 Version 2**

In [16]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Define SQL command to create the table
create_table_query = '''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
'''

# Execute SQL command to create the table
cursor.execute(create_table_query)

# Commit changes and close connection
conn.commit()
conn.close()

In [17]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('books.db')

# Create a cursor object
cursor = conn.cursor()

# Define SQL query to select title column in alphabetical order
select_query = '''
SELECT title
FROM books
ORDER BY title
'''

# Execute query and fetch results
cursor.execute(select_query)
results = cursor.fetchall()

# Print results
for row in results:
    print(row[0])

# Close connection
conn.close()

In [18]:
from sqlalchemy import create_engine, MetaData, Table, select

# Create an engine to connect to the database
engine = create_engine('sqlite:///books.db', echo=True)

# Reflect the existing database into a new MetaData object
metadata = MetaData()
metadata.reflect(bind=engine)

# Get the table object
books_table = metadata.tables['books']

# Start a session
conn = engine.connect()

# Define a select statement
select_statement = select([books_table.columns.title]).order_by(books_table.columns.title)

# Execute the statement and fetch all results
results = conn.execute(select_statement).fetchall()

# Print the results
for result in results:
    print(result[0])

# Close connection
conn.close()

2024-04-25 13:11:09,924 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-25 13:11:09,925 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-04-25 13:11:09,926 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-25 13:11:09,934 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_temp_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-04-25 13:11:09,935 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-25 13:11:09,938 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("books")
2024-04-25 13:11:09,940 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-25 13:11:09,943 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-04-25 13:11:09,944 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2024-04-25 13:11:09,947 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("books")
2024-04-25 13:11:09,948 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-25 13:11:09,949 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("books")
2024-04-25 13:11:09,951 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-25 13:11:09,952 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-04-25 13:11:09,953 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2024-04-25 13:11:09,961 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("books")
2024-04-25 13:11:09,962 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-25 13:11:09,965 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("books")
2024-04-25 13:11:09,967 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-25 13:11:09,968 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("books")
2024-04-25 13:11:09,970 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-25 13:11:09,972 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("books")
2024-04-25 13:11:09,973 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-25 13:11:09,975 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("books")
2024-04-25 13:11:09,977 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-25 13:11:09,979 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("books")
2024-04-25 13:11:09,980 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-25 13:11:09,984 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-04-25 13:11:09,985 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2024-04-25 13:11:09,994 INFO sqlalchemy.engine.Engine ROLLBACK

ArgumentError: Column expression, FROM clause, or other columns clause element expected, got [Column('title', TEXT(), table=<books>)]. Did you mean to say select(Column('title', TEXT(), table=<books>))?

**16.8 Version 3**

In [25]:
import sqlite3
import sqlalchemy

# Exercise 16.4: Creating SQLite Database and Table
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''CREATE TABLE IF NOT EXISTS book (
                  title TEXT,
                  author TEXT,
                  year INT
                )''')
db.commit()

# Print a message indicating the completion of Exercise 16.4
print("Exercise 16.4: SQLite database 'books.db' created with 'book' table.\n")

# Exercise 16.6: Selecting Titles in Alphabetical Order from SQLite
sql = 'SELECT title, author, year FROM book ORDER BY title ASC'
titles_sqlite = db.execute(sql).fetchall()

# Print the titles selected from SQLite
print("Exercise 16.6: Titles selected from SQLite database:")
for title, author, year in titles_sqlite:
    print(f"Title: '{title}', Author: '{author}', Year: {year}")
print()  # Add a newline for separation

# Exercise 16.8: Connecting with SQLAlchemy and Selecting Titles
conn = sqlalchemy.create_engine('sqlite:///books.db').connect()
query = sqlalchemy.text('SELECT title, author, year FROM book ORDER BY title ASC')
rows = conn.execute(query)
titles_sqlalchemy = rows.fetchall()

# Print the titles selected from SQLAlchemy
print("Exercise 16.8: Titles selected from SQLAlchemy:")
for title, author, year in titles_sqlalchemy:
    print(f"Title: '{title}', Author: '{author}', Year: {year}")

Exercise 16.4: SQLite database 'books.db' created with 'book' table.

Exercise 16.6: Titles selected from SQLite database:

Exercise 16.8: Titles selected from SQLAlchemy: